<%- include("partials/header") %>
<link rel="stylesheet" href="/css/estilo1.css">
</head>

<body>
  <div class="container">
    <h1 class="page-title">
      Dia 1 - Conversor de moedas
    </h1>
    <img src="https://www.alura.com.br/assets/img/imersoes/dev-2021/logo-imersao-aluraflix.svg" class="page-logo" alt="">
  </div>
  <a href="https://alura.com.br/" target="_blank">
    <img src="https://www.alura.com.br/assets/img/home/alura-logo.svg" alt="" class="alura-logo">
    <img src="https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/Convers%C3%A3o+1.png">
  </a>
  <form action="/converter" method="GET">
    <label for="valorEmReal">Valor Em Real</label>
    <input type="text" name="valorEmReal" id="valorEmReal">
    <label for="moeda">Moeda para ser convertido</label>
    <select name="moeda" id="moeda">
      <option value="DolarAmericano">Dolar Americano</option>
      <option value="Euro">Euro</option>
      <option value="Bitcoin">Bitcoin</option>
    </select>
    <button>Converter</button>
  </form>
  <% if(pesquisa!=undefined){ %>
  <p>Valor em Real: R$ <%= pesquisa.valorEmReal %> </p>
  <p>Moeda pesquisada: <%= pesquisa.moeda %> </p>
  <p>Cotação Atual: <%= pesquisa.cotacao %> </p>
  <p>Data de Atualização: <%= pesquisa.data %> </p>
  <p>Valor Convertido: <%= pesquisa.convertido %></p>
  <% } %> </p>
</body>
<%- include("partials/footer") %>